.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: regular;
}

.headerlogo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.headerlogo span {
  color: #4d5ae5;
}

ul,
.contact ul,
.nav-list {
  list-style-type: none;
}

.nav-list .nav-list-item .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-list-item .link:hover,
.nav-list-item .link:focus {
  color: #404bbf;
}

.contact .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: #404bbf;
}

.section1 {
  background-color: #2e2f42;
  text-align: center;
  width: 1440px;
  height: 600px;
}

.footercontainer,
.baslikcontainer,
.section1_container {
  justify-content: center;
  display: flex;
}

.section1_title {
  font-weight: bold;
  line-height: 60px;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 188px 0 48px 0;
}

.section1_button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.section1_button:hover,
.section1_button:focus {
  background-color: #404bbf;
}

.section3_item {
  background-color: #fff;
  height: 380px;
  width: 264px;
}

.section3 {
  background-color: #f4f4fd;
  text-align: center;
}

.section3_item_h2 {
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin: 24px 0 8px;
}
.section3_item_text {
  color: #434455;
  line-height: 1.5;
  margin-bottom: 24px;
}

.section3_header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.h2 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio_header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 112px;
}

.footer_text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.section_footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-logo span {
  color: #4d5ae5;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
}

/*3.ödev*/
.containerheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  padding-left: 156px;
  padding-right: 156px;
}

.headerlogo {
  display: flex;
  align-items: center;
  margin-left: 156px;
  top: 24px;
  height: 24px;
  width: 125px;
}

.nav-list {
  display: flex;
  gap: 40px;
  left: 1px;
  margin-left: -191px;
}

.contact > ul {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
}

.contact > ul li:first-child {
  position: relative;
  left: 940x;
}

.contact > ul li:last-child {
  position: relative;
  left: 40px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.container_ourteam {
  margin: auto;
  width: 1440px;
  height: 732px;
}

.section2container {
  flex: 1 1 calc(25% - 24px);

  padding: 20px;
}

.section2container > ul {
  width: 1128px;
  height: 104px;
  display: flex;
  list-style: none;
  gap: 1px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 112px;
}

.section_portfolio {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
}
.section_portfolio .container {
  padding: 0 15px;
}

.section_portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}
.section_portfolio ul li {
  width: calc((100% - 48px) / 3);
  list-style: none;
  border: 1px #e7e9fc;
}

.container_footer {
  margin-top: 100px;
  margin-left: 264px;
}
.portfolio_header_container ul li {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
}
